# /ga_core/config.py

# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
reference

# Images that were saved to file already
*.tar
*.gz
*.tar.gz