argcomplete==2.0.0
arrow==1.2.2
asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
blessed==1.19.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==36.0.2
Deprecated==1.2.13
Django==4.0.6
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-email-verification==0.2.2
django-picklefield==3.1
django-tables2==2.4.1
dxpy==0.326.1
gunicorn==20.1.0
idna==3.3
mysql-connector-python==8.0.29
mysqlclient==2.1.1
packaging==21.3
Pillow==9.2.0
protobuf==4.21.2
psutil==5.9.1
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
redis==4.3.4
reportlab==3.6.11
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.23
wcwidth==0.2.5
websocket-client==0.54.0
whitenoise==6.2.0
wrapt==1.14.1
