{% extends 'base.html' %}
{% load widget_tweaks %}

{% comment %}

Delete company page

{% endcomment %}




{% block body_block %}





<div class="row center-block">
<h2> Delete company </h2>

<form role="form"  id="panel_form" method="post" action={% url 'company_delete' company.name %}>
{% csrf_token %}


  <div class="row">
   <div class="col-sm-5">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" >Company:</span>
	<input class='form-control' disabled=True value='{{company.name}}' />

      </div>
   </div>
  </div>

  <br>
{% comment %}

  # The view will check for the name of the button when pressed so
  # change this to reflect what is expected in the view
{% endcomment %}
  <button class='btn btm-sm btn-danger type='submit' name="company_delete" width=30>Delete Company and its contacts ( This cannot be reversed ) </button> 


</form>


{% endblock %}


{% block script %}

{% endblock %}
