
{% extends 'base.html' %}
{% load widget_tweaks %}


{% comment %}

Page where the user can create a new company

Above this two packages are loaded one is the base template for the
page, and secondly the widget_tweaks that makes it easier to do forms nicely

{% endcomment %}




{% block body_block %}





<div class="row center-block">
<h2> Add new Company </h2>

<form role="form"  id="panel_form" method="post" action={% url 'company_add' %}>
{% csrf_token %}
  <div class="col-lg-4">
    <div class="input-group">
      {{company_form.name|add_class:"form-control"|attr:"placeholder: eg: Allumina"}}
      <span class="input-group-btn">
        <button class="btn alert-success" type="submit">Save company</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


</form>


{% endblock %}


{% block script %}

$(function() {

   // This is quite hacky, her I am using the template language to generate js,

  {% for field in company_form %}

     // If a field have an error alert the user
     {% if field.errors %}

     console.log("error on:", {{field.id_for_label}});

      // change the colour of the input/select to red
      $("input#{{field.id_for_label}}").addClass('alert-danger');
      $("select#{{field.id_for_label}}").addClass('alert-danger');

      // Add a data-toogle parameter to the input/select field
      $("input#{{field.id_for_label}}").attr('data-toggle', 'tooltip');
      $("select#{{field.id_for_label}}").attr('data-toggle', 'tooltip');


      // Set title to the error message, striptags remove all html formatting
      $("input#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');
      $("select#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');

  {% endif %}
{% endfor %}


 

})


{% endblock %}
