{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}


<h2> Companies: </h2>
<br>


{% comment %}
 Build a table of companies, first the table header and then below
 iterating through each of the companies filling out the table.
{% endcomment %}

<div class="row">
 <div class=" col-md-4">
   <table cellpadding="5" cellspacing="5" class="col-sm-3 table table-condensed table-bordered table-hover" >
  <tr>
    <th >Name</th>
    <th ></th>
    <th ></th>
    <th ></th>
   </tr>

{% for company in companies %}


 </tr>

   <td> {{ company.name }} </td>
   <td> <a href={% url 'company_edit' company.name %} class="btn btn-info" id="company_edit"  > Edit </button></td>
   <td> <a href={% url 'contact_list' company.name %} class="btn btn-info" id="company_list"  > Contacts </button></td>
   <td> <a href={% url 'company_delete' company.name %} class="btn btn-danger" id="company_delete"  > Delete </button></td>


    </tr>
{% endfor %}    


</table>
 </div>
</div>


{% endblock %}


{% block script %}
{% endblock %}


