{% extends 'base.html' %}
{% load widget_tweaks %}

{% comment %}


Page where the user can edit a company


{% endcomment %}




{% block body_block %}



<div class="row center-block">
<h2>Edit company </h2>

<form role="form"  id="panel_form" method="post" action={% url 'company_edit' company_form.name.value %}>
{% csrf_token %}
  <div class="col-lg-4">
    <div class="input-group">
      {{company_form.name|add_class:"form-control"|attr:"placeholder: eg: example.com"}}
      <span class="input-group-btn">
        <button class="btn alert-success" type="submit">Update company</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


</form>


{% endblock %}


{% block script %}

$(function() {
 
   // This is quite hacky, her I am using the template language to generate js,

  {% for field in company_form %}

     // If a field have an error alert the user
     {% if field.errors %}

      // change the colour of the input/select to red
      $("input#{{field.id_for_label}}").addClass('alert-danger');
      $("select#{{field.id_for_label}}").addClass('alert-danger');

      // Add a data-toogle parameter to the input/select field
      $("input#{{field.id_for_label}}").attr('data-toggle', 'tooltip');
      $("select#{{field.id_for_label}}").attr('data-toggle', 'tooltip');


      // Set title to the error message, striptags remove all html formatting
      $("input#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');
      $("select#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');

  {% endif %}
{% endfor %}

})


{% endblock %}
