
{% extends 'base.html' %}
{% load widget_tweaks %}


{% comment %}

Page where the user can create a new company

Above this two packages are loaded one is the base template for the
page, and secondly the widget_tweaks that makes it easier to do forms nicely

{% endcomment %}




{% block body_block %}





<div class="row center-block">
<h2> Edit contact </h2>

<form role="form"  id="panel_form" method="post" action={% url 'contact_edit' contact_id %}>
{% csrf_token %}

  <div class="row">
   <div class="col-sm-5">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" >Email:</span>
        {{contact_form.name|add_class:"form-control"|attr:"placeholder: eg: info"}}
     {% if company_name  %}
        <span class="input-group-addon" > @ {{company_name}}</span>
     {% else %}
	<span class="input-group-addon" >@{{contact_form.company}}</span>
     {% endif %}
      </div>
   </div>
  </div>

  <br>
  <div class="row">
   <div class="col-sm-5">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" >Notes:</span>
        {{contact_form.note|add_class:"form-control"|attr:"placeholder: JD always pays for a free lunch."}}
      </div>
   </div>
  </div>

  <br>


  <button class='btn btm-sm alert-success' type='submit' id="save_contact" width=30>Update contact</button> 


</form>


{% endblock %}


{% block script %}

$(function() {

   // This is quite hacky, her I am using the template language to generate js,

  {% for field in contact_form %}

     // If a field have an error alert the user
     {% if field.errors %}

      // change the colour of the input/select to red
      $("input#{{field.id_for_label}}").addClass('alert-danger');
      $("select#{{field.id_for_label}}").addClass('alert-danger');

      // Add a data-toogle parameter to the input/select field
      $("input#{{field.id_for_label}}").attr('data-toggle', 'tooltip');
      $("select#{{field.id_for_label}}").attr('data-toggle', 'tooltip');


      // Set title to the error message, striptags remove all html formatting
      $("input#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');
      $("select#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');

  {% endif %}
{% endfor %}


 

})


{% endblock %}
