{% extends 'base.html' %}
{% load widget_tweaks %}

{% comment %}

Delete company page

{% endcomment %}




{% block body_block %}





<div class="row center-block">

<h2> Delete contact </h2>

<form role="form"  id="panel_form" method="post" action={% url 'contact_delete' contact.id %}>
{% csrf_token %}


  <div class="row">
   <div class="col-sm-5">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" >Contact:</span>
	<input class='form-control' disabled=True value='{{contact.name}}'/>

      </div>
   </div>
  </div>

  <br>
{% comment %}
  # The view will check for the name of the button when pressed so
  # change this to reflect what is expected in the view
{% endcomment %}
  <button class='btn btm-sm btn-danger type='submit' name="contact_delete" width=30>Delete contact ( This cannot be reversed ) </button> 


</form>


{% endblock %}


{% block script %}

{% endblock %}
