{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block body_block %}

<h2>Decon run: {{ decon.name }}</h2></br>

<div class="col-sm1">
  <div float: left;">
    <table border=0 cellpadding="2" cellspacing="2" class="table table-condensed">
      <tr>
        <th>Name:</th><td>{{ decon.name }}</td>
      </tr>
      <tr>
        <th>Date:</th><td>{{ decon.date }}</td>
      </tr>
    </table>
  </div>

  <div>
    <form action = "" method = "POST">
    {% csrf_token %}
    {{ decongene }} <button type="submit">Search</button>
    </form>
    {% if error %}
    {{error}}
    {% endif %}
  </div>
</div>



<div style="width: 100%; overflow: hidden;">
  <div float: left;">
    <table border=0 cellpadding="2" cellspacing="2" class="table table-condensed">
      <tr>
        <th>CNVs</th>
        <th>Correlation</th>
        <th>BF</th>
        <th>Start_b</th>
        <th>End_b</th>
        <th>Number of exons</th>
        <th>Reads expected</th>
        <th>Reads observed</th>
        <th>Reads ratio</th>
        <th>Sample</th>
      </tr>

      {% for CNV in CNVs %}

      <tr>
        <td><a href={% url 'cnv_view' CNV.4 %}>chrom{{ CNV.0 }} {{ CNV.1 }}-{{ CNV.2 }} type {{ CNV.3 }}</td>

        {% for deconCNV in deconCNVs %}
          {% if deconCNV.0 == CNV.4 %}
            <td>{{ deconCNV.1 }}</td>
            <td>{{ deconCNV.5 }}</td>
            <td>{{ deconCNV.2 }}</td>
            <td>{{ deconCNV.3 }}</td>
            <td>{{ deconCNV.4 }}</td>
            <td>{{ deconCNV.6 }}</td>
            <td>{{ deconCNV.7 }}</td>
            <td>{{ deconCNV.8 }}</td>
            <td><a href={% url 'sample_view' deconCNV.10 %}>{{ deconCNV.9 }}</td>
          {% endif %}

        {% endfor %}
      </tr>

      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}