{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block body_block %}

<h2>Decon gene: {{ decongene }}</h2>

<br>

<div>
  <table border=0 cellpadding="2" cellspacing="2" class="table table-condensed">
    <tr>
      <th>Exons:</th>
    </tr>
    
    {% for exon in exons %}
      <tr><td><a href={% url 'deconexon_view' exon.4 %}>chrom{{ exon.0 }}: {{ exon.1 }}-{{ exon.2 }} </td></tr>
    {% endfor %}
    
  </table>
</div>


{% endblock %}

{% block script %}
{% endblock %}