{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block body_block %}

<h2>Decon exon: {{ deconexon.name }}</h2></br>

<div class="col-sm1">
  <table border=0 cellpadding="2" cellspacing="2" class="table table-condensed">
  
    <tr>
      <th>Chrom:</t h><td>{{ deconexon.chr }}</td>
    </tr>
    <tr>
      <th>Start:</th><td>{{ deconexon.start }}</td>
    </tr>
    <tr>
      <th>End:</th><td>{{ deconexon.end }}</td>
    </tr>
  
  </table>
</div>


<div class="col-sm1">
  <h4>Present in the following CNV:</h4>
    {% if CNVs %}
      <table border=0 cellpadding="5" cellspacing="5" class="table table-condensed">

      {% for CNV in CNVs %}
        <tr>
          <td><a href={% url 'cnv_view' CNV.id %}>chrom{{ CNV.chr }} {{ CNV.start }}-{{ CNV.end }} type {{ CNV.type }}</a></td>
        </tr>
      {% endfor %}

    </table>
    {% endif %}
</div>


{% endblock %}

{% block script %}
{% endblock %}