{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Banner -->
<div class="container-fluid py-5" style="background-color:#47afd8; opacity:0.8; min-height: 300px;">
	<h1 class="display-4 mx-auto mt-5 text-center fw-bold col-12 text-light">Genetics Ark</h1>
	<p class="h3 mx-auto text-center fw-bold text-dark">web portal for bioinformatics applications</p>
</div>

<div class="container mt-5 py-2">
	<div class="row justify-content-around">
		<div class="col-3 text-center p-5">
			<div class="container">
				<a href="{{ desk }}" target="_blank">
					<div class="grow" data-toggle="tooltip" data-placement="bottom"  title="Bioinformatics service desk for queries and requests">
						<img class="main-img" alt="service.png" src="{% static 'images/main-1.png' %}">
					</div>
				</a>
			</div>
		</div>
		<div class="col-3 text-center p-5">
			<div class="container">
				<a href="/genetics_ark/primer_designer">
					<div class="grow" data-toggle="tooltip" data-placement="bottom"  title="Design primers for genomic coordinates">
						<img class="main-img" alt="service.png" src="{% static 'images/main-4.png' %}">
					</div>
				</a>
			</div>
		</div>
		<div class="col-3 text-center p-5">
			<div class="container">
				<a href="/genetics_ark/igv">
					<div class="grow" data-toggle="tooltip" data-placement="bottom"  title="Load IGV for visualisation of sequencing data">
						<img class="main-img" alt="service.png" src="{% static 'images/main-5.png' %}">
					</div>
				</a>
			</div>
		</div>
		<div class="col-3 text-center p-5">
			<div class="container">
				<a href="{{ iva }}" target="_blank">
					<div class="grow" data-toggle="tooltip" data-placement="bottom"  title="Load IVA for reviewing clinical cases and variant interpretation">
						<img class="main-img" alt="service.png" src="{% static 'images/main-6.png' %}">
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
