<!DOCTYPE HTML>

{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<html>
	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h1>GENETICS ARK</h1>
				<p>Web portal for bioinformatics applications</p>
			</div>
		</section>

	<!-- Sections -->
		<section class="wrapper">
			<div class="inner">
				<div class="highlights">
					<section>
						<div class="content">
							<a href="https://cuhbioinformatics.atlassian.net/servicedesk/customer/portal/4" target="_blank"><img src="/static/images/service_desk.png" style="width:150px;height:170px;"></a>
						</div>
					</section>
					<section>
						<div class="content">
							<a href="https://cuhbioinformatics.atlassian.net/wiki/spaces/P/overview" target="_blank"><img src="/static/images/projects.png" style="width:150px;height:170px;"></a>
						</div>
					</section>
					<section>
						<div class="content">
							<a href="primer_designer"><img src="/static/images/primer_designer.png" style="width:150px;height:170px;"></a>
						</div>
					</section>
					<section>
						<div class="content">
							<a href="nexus_search"><img src="/static/images/igv.png" style="width:150px;height:170px;"></a>
						</div>
					</section>

				</div>
			</div>
		</section>
	</body>
</html>

{% endblock %}
