<!DOCTYPE HTML>

{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h1>GENETICS ARK</h1>
		<p>Web portal for bioinformatics applications</p>
	</div>
</section>

<!-- Sections -->
<!-- New apps should have a section creating below for the homepage, logo
images for each have been created in canva.com. A new entry should also be
added to the menu bar in base.html -->
<section class="wrapper">
	<div class="inner">
		<div class="highlights">
			<section>
				<div class="content" data-tooltip="Bioinformatics service desk for queries and requests">
					<a href="https://cuhbioinformatics.atlassian.net/servicedesk/customer/portal/4" target="_blank"><img alt="service.png" src="/static/images/main-1.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
			<section>
				<div class="content" data-tooltip="Documentation for bioinformatics team development projects">
					<a href="https://cuhbioinformatics.atlassian.net/wiki/spaces/P/overview" target="_blank"><img alt="projects.png" src="/static/images/main-2.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
			<section>
				<div class="content" data-tooltip="Blog page for updates from the bioinformatics team">
					<a href="https://cuhbioinformatics.atlassian.net/wiki/spaces/BLOG/overview" target="_blank"><img alt="blog.png" src="/static/images/main-3.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
			<section>
				<div class="content" data-tooltip="Design primers for genomic coordinates">
					<a href="primer_designer"><img alt="primer.png" src="/static/images/main-4.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
			<section>
				<div class="content" data-tooltip="Load IGV for visualisation of sequencing data">
					<a href="nexus_search"><img alt="igv.png" src="/static/images/main-5.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
			<section>
				<div class="content" data-tooltip="Load IVA for reviewing clinical cases and variant interpretation">
					<a href="https://eglh.app.zettagenomics.com/iva/#home" target="_blank"><img alt="zetta.png" src="/static/images/main-6.png" style="width:150px;height:170px;"></a>
				</div>
			</section>
		</div>
	</div>
</section>
{% endblock %}
