{% extends 'base.html' %}


{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block body_block %}


<h2>{{ gene_name }}</h2><br>

<div class="col-sm1">
<table border=0 cellpadding="5" cellspacing="5" class="table table-condensed">

  <tr>

    <th >RefSeq</th>
    <th >Clinical transcript</th>
   </tr>
  </tr>

  {% for transcript in transcripts %}
    <tr>
      <td>{{transcript.refseq}}</td><td>{{transcript.clinical_transcript}}</td>
    </tr>
  {% endfor %}

</table>
</div>


<h4> Present in the following panels
<div class="col-sm1">
<table border=0 cellpadding="5" cellspacing="5" class="table table-condensed">


  {% for panel in panels %}
    <tr>
      <td><a href={% url 'panel_view' panel.id %}>{{panel.name}}</a></td>
    </tr>
  {% endfor %}

</table>
</div>






{% endblock %}


{% block script %}
{% endblock %}
