{% extends 'base.html' %}


{% block body_block %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}


<h2>{{ sample_name }} </h2><br>


<table border=0 cellpadding="1" cellspacing="1" class="table table-condensed">

    <tr>
      <th>GM:</th><td>gm</td><th>Name:</th><td></td>
    </tr>
    <tr>
      <th>DOB:</th><td>1/1/1</td><th>Capture:</th><td>{{ project_name }}</td>
    </tr>

    <tr>
      <th>Panel(s) and Gene(s):</th>
    </tr>

{% for panel in panels %}
  <tr><td><a href={% url 'panel_view' panel.id %}>{{panel.name}}</a></td></tr>
{% endfor %}

{% for gene in genes %}
  <tr><td><a href={% url 'gene_view' gene.name %}>{{gene.name}}</a></td></tr>
{% endfor %}

</table>


<table border=0 cellpadding="1" cellspacing="1" class="table table-condensed">
  <tr>
      <th>Decon run:</th>
  </tr>

  {% if decon_runs %}
    {% for decon_run in decon_runs %}
    <tr>
        <td><a href={% url 'decon_view' decon_run.id %}>{{ decon_run.name }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr><td>No decon runs for this sample</td></tr>
  {% endif %}

</table>


{% for analysis in analyses %}

  
<h4>{{analysis.runfolder.name}}</h4>

   <a href= {% url 'igv' analysis.id %} type = "button" class = "btn btn-success">View in IGV</a>
   <a href= {% url 'analysis_report' analysis.id %} type = "button" class = "btn btn-info">Reanalyse data</a><br>

<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-warning" id="{{ analysis.runfolder.name }}_panel" data-rpid="{{ rpid }}" data-gid="{{ entry.gid }}">
    <div class="panel-heading" role="tab">
      <class="panel-title">
       <H4>
	<a  role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ analysis.runfolder.name }}_body" aria-expanded="false" aria-controls="{{ analysis.runfolder.name }}_body" > <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
	QC 
      </H4>
    </div>
    <div id="{{ analysis.runfolder.name }}_body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ analysis.runfolder.name }}">
      <div class="panel-body">

<table border=0 cellpadding="1" cellspacing="1" class="table table-condensed">

    <tr>
      <td>Total reads:</td>
      <td>{{ analysis.total_reads|intcomma }}</td>
      <td>Mapped reads:</td>
      <td>{{ analysis.total_reads|intcomma }}</td>
      <td>Duplicate reads:</td>
      <td>{{ analysis.duplicate_reads|intcomma }}</td>
    </tr>

    <tr>
      <td>Mean insert size:</td>
      <td>{{ analysis.mean_isize}}</td>
      <td>Mean het ration:</td>
      <td>{{ analysis.mean_het_ratio}}</td>
      <td>Mean hom ration:</td>
      <td>{{ analysis.mean_homo_ratio}}</td>
    </tr>

    <tr>
      <td>Bases on target:</td>
      <td>{{  analysis.bases_on_target }} </td>
      <td>Mean target coverage:</td>
      <td>{{  analysis.mean_target_coverage }}</td>
      <td>bases w/ > 100x coverage:</td>
      <td>{{  analysis.coverage_100x }}</td>
    </tr>

    <tr>
      <th>Versions</th>
    </tr>


    {% for software, version in analysis.versions %}

    <tr>
      <td>{{software}}:</td><td>{{version}}</td>
    </tr>
    {% endfor %}


</table>

  </div>
</div>
  </div>
</div>



{% endfor %}


    <hr>
{% endblock %}

{% block script %}

    $(document).ready(function () {

    });

{% endblock %}
