{% extends 'base.html' %}


{% block body_block %}
{% load render_table from django_tables2 %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}


<h2>{{ sample_name }} </h2><br>


<table border=0 cellpadding="1" cellspacing="1" class="table table-condensed">

    <tr>
      <td>GM</td><td>gm17.12345</td><td>Name:</td><td>Joe Doe</td>
    </tr>
    <tr>
      <td>DOB</td><td>1/1/1970</td><td>Capture</td><td>{{ project_name }}</td>
    </tr>

    <tr>
      <td>Panel(s):</td>
    </tr>

{% for panel in panels %}
  <tr><td><a href={% url 'panel_view'  panel.id %}>{{panel.name}}</a></td></tr>
{% endfor %}

</table>



{% for analysis in analyses %}
  
<h4>{{analysis.runfolder.name}}</h4>

   <a href= {% url 'igv' analysis.id %} type = "button" class = "btn btn-success">View in IGV</a><br>

  (Re-)analyse sample <br>
<br>


<div class="panel panel-warning">
  <div class="panel-heading">QC</div>
  <div class="panel-body">

<table border=0 cellpadding="1" cellspacing="1" class="table table-condensed">

    <tr>
      <td>Total reads</td>
      <td>{{ analysis.total_reads}}</td>
      <td>Mapped reads</td>
      <td>{{ analysis.total_reads}}</td>
      <td>Duplicate reads</td>
      <td>{{ analysis.duplicate_reads}}</td>
    </tr>

    <tr>
      <td>Mean insert size</td>
      <td>{{ analysis.mean_isize}}</td>
      <td>Mean het ration</td>
      <td>{{ analysis.mean_het_ratio}}</td>
      <td>Mean hom ration</td>
      <td>{{ analysis.mean_homo_ratio}}</td>
    </tr>

    <tr>
      <td>Bases on target:</td>
      <td>{{  analysis.bases_on_target }} </td>
      <td>Mean target coverage</td>
      <td>{{  analysis.mean_target_coverage }}</td>
      <td>bases w/ > 100x coverage</td>
      <td>{{  analysis.coverage_100x }}</td>
    </tr>

    <tr>
      <th>Versions</th>
    </tr>


    {% for software, version in analysis.versions %}

    <tr>
      <td>{{software}}</td><td>{{version}}</td>
    </tr>
    {% endfor %}


</table>




  </div>
</div>


    
   <li> <button type='button' id="igv_{{analysis.id}}">Browse bamfile</button>

   <div class="container-fluid" id="igv_browser_{{analysis.id}}" style="padding:5px; border:1px solid lightgray"></div>

  </ul>    

{% endfor %}


    <hr>
{% endblock %}

{% block script %}

    $(document).ready(function () {

    {% for analysis in analysiss %}

      $( "button#igv_{{analysis.id}}" ).click( function() {    

        console.log('pushed button')

        var div = $("#igv_browser_{{analysis.id}}")[0],
                options = {
                    showNavigation: true,
                    showRuler: true,
                    showKaryo: false,
                    reference: {
                        id: "hg19"
                    },
                    genome: "hg19",
                    locus: "8:128,747,267-128,754,546",
                    tracks: [
                        {
                            name: "Gencode v19",
                            type: "annotation",
                            format: "bed",
                            sourceType: "file",
                            url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
                            indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
                            order: Number.MAX_VALUE,
                            visibilityWindow: 300000000,
                            displayMode: "EXPANDED"
                        }, 
                        {
                          // bams need to be served by a real web-server!
                            url: 'http://bams2.ctrulab.uk/{{analysis.runfolder.name}}/bams/{{analysis.name}}.bam',
                            name: '{{sample.name}}',
                            alignmentShading: 'strand',
                            height: 300
                        }

                    ]
                };

        igv.createBrowser(div, options);
      });
    {% endfor %}

    });

{% endblock %}
