{% extends 'base.html' %}

{% load render_table from django_tables2 %}


{% block body_block %}


{% if ref and alt %}
<h2>Variant: {{ chrom }}:{{ pos }} {{ref}}/{{alt}}</h2>
{% else %}
<h3>Variant: {{ chrom }}:{{ pos }}</h3>
{%endif%}


<hr>

{% if nothing_found %}

<strong> Variant not present in the database </strong>

{% else %}


<div class="row">
  <div class=" col-md-4">
    <table cellpadding="5" cellspacing="5" class="col-sm-3 table table-condensed table-bordered table-hover" >
      <tr>
        <th>Project</th>
        <th>Hets</th>
        <th>Homs</th>
        <th>Samples</th>
        <th>Frequency</th>
      </tr>

      {% for project in projects %}
      </tr>
        <td> {{ project.name }}  </td>
        <td> {{ project.hets }}  </td>
        <td> {{ project.homs }}  </td>
        <td> {{ project.total }} </td>
        <td> {{ project.freq }}  </td>
      </tr>
      {% endfor %}    
    </table>
  </div>
</div>

<hr>
<BR>

{% for project in projects %}

  {% if project.samples %}
    <h3>Project: {{project.name}} </h3><br>

    <div class="row">
      <div class=" col-md-5">
        <table cellpadding="5" cellspacing="5" class="col-sm-5 table table-condensed table-bordered table-hover" >
          <tr>
            <th> Sample   </th>
            <th> Depth    </th>
            <th> Quality  </th>
            <th> AAF      </th>
            <th> Genotype </th>
            <th> Panel(s) </th>
          </tr>

          {% for sample in project.samples %}

          </tr>
            <td> {{ sample.name }}     </td>
            <td> {{ sample.depth }}    </td>
            <td> {{ sample.quality }}  </td>
            <td> {{ sample.aaf }}      </td>
            <td> {{ sample.zygosity }} </td>
            <td> {% for panel in  sample.panels %} 
              <a href={% url 'panel_view' panel.id %}> {{ panel.name }}</a> &nbsp;
            </td>
          </tr>

            {% endfor %}

          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
{% endfor %}    
  
<hr>
<br>

{% endif %}

<h4>Comments:</h4>

<div>
  {% if comment %}
    <p>{{ comment }}</p></br>
  {% endif %}

  <form action = "" method = "POST">
    {% csrf_token %}
    {{ form.comment }}</br></br>
    <button name="update" type="submit">Update comment</button>
  </form>
</div>

{% endblock %}