{% extends 'base.html' %}

{% block css %}
<style>
    .spinner{
        position: relative;
        bottom: 80px;
        left: 200px;
    }
    .text-small {
        font-size: 80%;
    }
    #custom-tooltip-1 {
        display: none;
        font-size: 10px;
        padding: 5px 12px;
        background-color: #4BB543;
        border-radius: 4px;
        color: #FFF;
    }
    #custom-tooltip-2 {
        display: none;
        font-size: 10px;
        padding: 5px 12px;
        background-color: #4BB543;
        border-radius: 4px;
        color: #FFF;
    }
    .list-group-scrollable {
        max-height: 800px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }
</style>
{% endblock %}

{% block body %}
<!-- Hidden Modal Bootstrap -->
<div class="modal" id="warningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Development Project Selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The selected data is for development use and must not be used for service work. Please confirm if you still want to load IGV.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 mb-5">
    <div class="card p-2">
        <div class="card-body">
            <h2>DNAnexus to IGV</h2></br>
        
            This page may be used to generate URLs to view BAMs on IGV installed locally on your PC, or to view directly within IGV on Genetics Ark. <br></br>
        
            Enter the sample ID (e.g. X010000) in the search box and click search, this will return links to paste in to IGV if installed locally <br>
            on the PC, or a button to view the BAM in the web based IGV on Genetics Ark.<br></br>
        
            The IGV user guide may be found <a href="https://software.broadinstitute.org/software/igv/UserGuide" target="_blank">here</a>.<br></br>
        
            <!-- FORM FOR MAIN SEARCH -->
            {% load crispy_forms_tags %}
            <form method="post" action="" name="search_form" onsubmit="return spinner_function()">
                {% csrf_token %}
                {{ search_form|crispy }}<br>

                <button name="action" value="search" id="search" type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>
        
            <!-- SPINNER VIEW -->
            <div id="spinner" class="spinner" style="display:none">
                <img id='spinner' src='/static/images/cloud-loader.gif' alt="Please wait .."  style="width:75px;height:50px;"> 
                <b>Searching DNAnexus for samples</b>
            </div>
            
            <!-- IF NORMAL SEARCH FIELD USED, REMOVE DIRECT LINK FIELDS -->
            {% if not file_name and not bam_list %}
                <h3 class="mt-5">Load direct from URL</h3>
        
                To load BAMs directly in to IGV hosted on Genetics Ark please paste the BAM and index url in the respective fields below.
                This may be used for viewing samples outside of standard seqencing runs (i.e. during development work) where 
                DNAnexus links have been provided by the bioinformatics team.
                <br></br>
        
                <!-- FORM FOR DIRECT LINKS -->
                <form method="post" action=""  name="url_form" >
                    {% csrf_token %}
                    {{ url_form|crispy }}
                    <div class="form-group-row">
                        <button name="action" value="form_37" type="submit" class ="btn btn-primary btn-sm m-2 px-3">View in web IGV (GRCh37)</button>
                        <button name="action" value="form_38" type="submit" class ="btn btn-info btn-sm m-2 px-3">View in web IGV (GRCh38)</button>
                    </div>
                </form>
            {% endif %}
            
            <!-- SINGLE SAMPLE VIEW -->
            {% if file_name %}
                <h2 class="mt-5">{{ file_id}}</h2>
                <div class="alert alert-primary" role="alert">
                    Make sure to double-check the unique FILE ID
                </div>
                Search Term: <b>{{ sample_id }}</b><br>
                File Name: <b>{{ file_name }}</b><br>
                Sequencing Project: <b>{{ project_name }}</b><br>
                Directory: <b>{{ file_path }}</b>
                
                <br></br>
                BAMs/CNVs may be viewed on IGV installed on PC by going to File -> Load from URL, and pasting the following links:
                <br></br>
                
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="font-italic text-small" id="bam-url">{{ file_url }}</span>
                        <input type="image" class="ml-1 m-y-0 p-0" src="/static/images/clipboard.png" onclick="copyToClipboard('bam-url', 1)" width="20" height="20"/>
                        <span id="custom-tooltip-1">copied</span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-italic text-small" id="idx-url">{{ idx_url }}</span>
                        <input type="image" class="ml-1 m-y-0 p-0" src="/static/images/clipboard.png" onclick="copyToClipboard('idx-url', 2)" width="20" height="20"/>
                        <span id="custom-tooltip-2">copied</span>
                    </li>
                </ul>
        
                <br>
                Load BAMs for sample in web IGV with appropriate reference build: 
                <br></br>
        
                <form action="" method="POST" name="igv_form">
                    {% csrf_token %}
                    <input type="hidden" name="file_name" value="{{ file_name }}">
                    <input type="hidden" name="file_url" value="{{ file_url }}">
                    <input type="hidden" name="idx_url" value="{{ idx_url }}">
                    <input type="hidden" name="file_id" value="{{ file_id }}">
                    <input type="hidden" id="igv_proj_name" name="project_name" value="{{ project_name }}">
                    <button name="action" value="igv_37" type="submit" class ="btn btn-primary btn-sm m-2 px-3">View in web IGV (GRCh37)</button>
                    <button name="action" value="igv_38" type="submit" class ="btn btn-warning btn-sm m-2 px-3">View in web IGV (GRCh38)</button>
                </form>
            {% endif %}
        
            <!-- MULTIPLE SAMPLES VIEW-->
            {% if bam_list %}
            <h2 class="mt-5">Results</h2>
            <b>{{ file_no}}</b> Files found for sample <b>{{ sample_id }}</b><br>
            Please select which project to load the sample from:</b><br></b><br>
            <ul class="list-group-scrollable">
                {% for file in bam_list %}
                    <div class="card m-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ file.file_name }}</h5>
                            {% if file.file_archival_state == 'live' %}
                                <h6 class="card-subtitle py-1 text-muted">
                                    <span class="badge badge-pill badge-success mr-2 px-2 py-1">LIVE</span>
                                </h6>
                                <p class="card-text">Project: {{ file.project_name }}<br>Directory: {{ file.file_path }}<br>File ID: {{ file.file_id }}</p>
                                <form action="" method="post" name="select_bam" target="_blank">
                                    {% csrf_token %}
                                    <input type="hidden" name="selected_file_id" value="{{ file.file_id }}">
                                    <input type="hidden" name="bam_list" value="{{ bam_list }}">
                                    <input type="hidden" name="sample_id" value="{{ sample_id }}">
                                    <button name="action" value="select_bam" type="submit" class = "btn btn-primary btn-sm">Select</button>
                                </form>
                            {% else %}
                                <h6 class="card-subtitle py-1 text-muted">
                                    <span class="badge badge-pill badge-danger mr-2 px-2 py-1">ARCHIVED</span>
                                </h6>
                                <p class="card-text">Project: {{ file.project_name }}<br>Directory: {{ file.file_path }}<br>File ID: {{ file.file_id }}</p>
                                <div class="alert alert-warning" role="alert">
                                    To request unarchive, <a href="https://cuhbioinformatics.atlassian.net/servicedesk/customer/portal/4" target="_blank">open a ticket</a> on the bioinformatics helpdesk.<br>Please include the unique file-id and its sequencing project.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    //function to check if selected sample is in the dev data project and req. confirmation to load
    //https://stackoverflow.com/questions/11404711/how-can-i-trigger-a-bootstrap-modal-programmatically
    var projName = document.getElementById("igv_proj_name").value;  
    if (projName.toLowerCase().includes('dev')) {
        $('#warningModal').modal('show');
    }

    //function to display loading spinner on form submit
    function spinner_function() {
        var x = document.getElementById("spinner");
        if (x.style.display === "none") 
            {x.style.display = "block";}
        else 
            {x.style.display = "none";}
    }

    //Function to copy text to clipboard
    //Credit: https://stackoverflow.com/questions/22581345/click-button-copy-to-clipboard
    //Credit: https://stackoverflow.com/questions/61092432/display-success-message-after-copying-url-to-clipboard
    function copyToClipboard(elementId, num) {
        // Create a "hidden" input
        var aux = document.createElement("input");
        // Assign it the value of the specified element
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        // Append it to the body
        document.body.appendChild(aux);
        // Highlight its content
        aux.select();
        // Copy the highlighted text
        document.execCommand("copy");
        // Remove it from the body
        document.body.removeChild(aux);

        if (num == 1) {
            document.getElementById("custom-tooltip-1").style.display = "inline";
            setTimeout( function() {
                document.getElementById("custom-tooltip-1").style.display = "none";
            }, 1000);
        } else {
            document.getElementById("custom-tooltip-2").style.display = "inline";
            setTimeout( function() {
                document.getElementById("custom-tooltip-2").style.display = "none";
            }, 1000);
        }
    }
</script>
{% endblock %}
