{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<!-- <body style="padding-top: 80px; padding-left: 20px"> -->
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/link_button.css' %}">

{% if messages %} 
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <strong>{{ message }}</strong> 
        </div>
    {% endfor %} 
{% endif %}

<div class="well" style="width:1000px;">
    
<h2>DNAnexus to IGV</h2></br>

Currently only newly sequenced samples processed through DNAnexus will be available to view through this instance of IGV.<br></br>
Enter the sample ID (e.g. X010000) in the search box and click search, this will return links to paste in to IGV installed locally <br>
on the PC, or a button to view the BAM in the web based IGV on Genetics Ark.<br></br>
For older samples, please continue to search in Genetics Ark in the normal way and view in IGV from there.<br></br>

The IGV user guide may be found <a href="https://software.broadinstitute.org/software/igv/UserGuide" target="_blank">here</a>.<br></br>

<form method="post" action="" style="padding-top:10px;" name="search_form">
    {% csrf_token %}
    {{ search_form.sampleID }}
    <br></br>
    <button name="search_form" type="submit" class = "bt btn-primary">Search</button>
</form>

</div>

{% if bam_name %}

<!-- Single BAM found for sample -->

<div class="well" style="width:1000px;">

    <div>
        Reuqested Sample: <b>{{ sampleID }}</b><br>
        Sample Name: <b>{{ bam_name }}</b><br>
        Sequencing project: <b>{{ project_name }}</b>
        <br></br>
        BAMs may be viewed on IGV installed on PC by going to File -> Load from URL, and pasting the following links:
        <br></br>
        <ul>
           <li>BAM url:<br> <b>{{ bam_url }}</b></li>
           <li>Index url:<br> <b>{{ idx_url }}</b></li>
        </ul>

    <br> 
    BAMs may be viewed in web based IGV hosted on Genetics Ark here:
    <br></br>

    <form action="" method="post">
        {% csrf_token %}
        <button name="igv_ga" type="submit" class = "bt btn-primary">View in web IGV</button>
    </form>

    </div>
</div>

{% endif %}


{% if bam_list %}

<!-- multple bams for sample returned, give option to select which to use -->

<div class="well" style="width:1000px;">
    <div>
        More than one BAM found for sample {{ sampleID }}</b><br>
        Please select which project to load the BAM from:</b><br>
        
        {% for bam in bam_list %}

            <form action="" method="post" name="select_bam">
                {% csrf_token %}

                <input type="hidden" id="myField" value={{bam.bam_name}} >

                <button name="select_bam" type="submit" class = "bt btn-primary">Select</button>

                {{ bam.bam_name }} in {{ bam.project_name }}
                
            </form></b><br>

        {% endfor %}

    </div>
</div>


{% endif %}

</html>
</body>

{% endblock %}
