{% extends 'base.html' %}

{% load static %}

{% block body_block %}

<html>
<head>
    <!-- IGV JS -->
    <script type="text/javascript" src="/static/assets/js/igv-2.7.9.min.js"></script>
  </head>

<body class="card border-light" style="width:95%; margin:0 auto; padding-top: 75px; padding-bottom: 50px;">
    
  <h2>IGV browser for {{ sampleID }}</h2>
  <div>
    <h3 style="display: inline;"> Using reference: </h3>
    <h3 style="display: inline; text-transform: lowercase;"><b>{{ reference }}</b></h3>
  </div>
  <br>
  Note: samples with high depth of sequencing may take a few moments to load.
  <br></br>

  <div id="igv-div" style="padding:5px; border:1px solid lightgray; background-color: white;"></div>

  <!-- loading igv with passed urls -->
  <script type="text/javascript">
  var igv_div = document.getElementById("igv-div");
  var options = {
      showNavigation: true,
      showRuler: true,
      showKaryo: true,
      reference: {
        // reference files, conditionally passed for 37/38
        id: '{{ reference }}',
        name: "Human ('{{ reference }}')",
        fastaURL: '{{ fasta }}',
        indexURL: '{{ fasta_idx }}',
        cytobandURL: '{{ cytoband }}'
      },
      tracks: [
        {
          // pass in URL for bam in DNAnexus
          url: '{{ bam_url }}',
          indexURL: '{{ idx_url }}',
          name: '{{ sampleID }}',
          alignmentShading: 'strand',
          height: 600
      },
        {
        // refseq genes track
        name: "Refseq Genes",
        url: '{{ refseq }}',
        order: 1000000,
        indexed: false
      }
      ]
    };
  igv.createBrowser(igv_div, options)
    .then(function (browser) {
      igv.browser = browser
    });

  </script>

</body>
</html>

{% endblock %}
