{% extends 'base.html' %}

{% block body %}
<div class="container-fluid mt-2 mb-5 p-5">

  <h2>IGV browser for {{ file_name }}</h2>
  <div>
    <h3 style="display: inline;"> Using reference: </h3>
    <h3 style="display: inline; text-transform: lowercase;">{{ reference }}</h3>
    <h4>File ID: {{ file_id }}</h4>
  </div>
  <br>
  Note: Samples with high depth of sequencing may take a while to load.
  <br></br>

  <div id="igv-div" class="p-2" style="border:1px solid lightgray; background-color: white;"></div>
</div>
{% endblock %}

{% block script %}
<!-- loading igv with passed urls -->
<script type="text/javascript">

  var igvDiv = document.getElementById("igv-div");
  var options =
  {
    showNavigation: true,
    showRuler: true,
    loadDefaultGenomes: false,
    genomeList: "{{ genomes }}",
    reference: {
      "id": "{{ reference }}",
      "name": "Human ({{ reference }})",
      "fastaURL": "{{ fasta }}",
      "indexURL": "{{ fasta_idx }}",
      "cytobandURL": "{{ cytoband }}",
      "tracks": [
        {
          "name": "{{ file_name }}",
          "url": "{{ file_url }}",
          "indexURL": "{{ idx_url }}",
          "displayMode": "EXPANDED",
          "minHeight": 500,
          "maxHeight": 550,
          "autoHeight": true
        },
        {
          "name": "Refseq Genes",
          "format": "refgene",
          "url": "{{ refseq }}",
          "indexURL": "{{ refindex }}",
          "order": 1000000,
          "minHeight": 180,
          "maxHeight": 230,
          "autoHeight": true
        }
      ],
    }
  };
  igv.createBrowser(igvDiv, options);
</script>
{% endblock %}