@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url('../fonts/Raleway-Medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url('../fonts/Raleway-Black.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* Font family for all pages */
* {
  font-size: 100%;
  font-family: 'Raleway';
 }

 html {
  scroll-behavior: smooth;
  height: 100%;
}

 /* background image in body */
 body {
  background-image: url('../images/bg.png');
  z-index: -999;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  height:100;
}

 /* Navbar */
 @media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #ffffff;
  }
}

/* For warning modal if 'dev' in project in IGV viewing */
#warningModal {
  position: fixed;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* hiding of error message */
.alert.hide {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}

/* jumbotron fade in timing */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

/* jumbotron h1 and p padding */
.jumbotron .row {
  padding-top: 70px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  }

  /* main page grid images sizing */
.main-img {
  max-width: 100%;
  border-radius: 3%;
}

/* grid image hover transform */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.10); }

.asteriskField {
  display: none;
}