{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container p-5 mb-5">
    <h3>Activation link sent!</h3>
    <br>
    <p>Please activate your account by following the link in the email.</p>
    <p>Please check your spam if you don't receieve an email in the next few minutes.</p>
    <p>
        If you have any issues please <a
        href="https://cuhbioinformatics.atlassian.net/servicedesk/customer/portal/4"
        target="_blank">open
        a ticket</a> on the bioinformatics helpdesk, and include your username.
    </p>
    <a href="/"> Return to log in</a>
    
</div>

{% endblock %}
