{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
  
<div style="width:1000px; margin:0 auto; padding-top: 150px; padding-bottom: 50px;">

    <p>
        We've emailed you instructions for setting your password, if an account
        exists with the email you entered then you should receive them shortly.
    </p>
    <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
    <p>
        If you have any issues please <a
        href="https://cuhbioinformatics.atlassian.net/servicedesk/customer/portal/4"
        target="_blank">open
        a ticket</a> on the bioinformatics helpdesk, and include your username.
    </p>
    <p>
        Return to <a href="/">login</a>
    </p>
</div>

{% endblock %}