{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="container">
  <!-- Error Modal-->
  <div class="modal" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error Generating Primer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please check your input and try again or contact the Bioinformatics Team via Helpdesk.</p>
          <p id="errorMessage"></p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger btn-sm" href="{% url 'primer:index' %}" role="button">Back</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Error Modal END -->

  <div class="card my-5 p-5">
    <div class="card-body">
      <h2>Primer Designer</h2>
      <div class="alert alert-info" role="alert">
        Task reference ID: {{ task_id }}
      </div>
      <div id="spinner">
        <img id='spinner' src="{% static 'images/dna-loader.gif' %}" alt="loading.gif"
          style="width:300px;height:165px;">
        <p>Generating primer.....</p>
      </div>
      <p id="dlink" style="display:none">Download designed primers: <a href="{{download_url}}"
          download>{{output_name}}</a></p>
      <a id="back-button" style="display:none" class="btn btn-danger btn-sm shadow" href="{% url 'primer:index' %}"
        role="button">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {

    var task_id = "{{ task_id }}";
    var output_name = "{{ output_name }}";
    var current_url = window.location.href;
    var success = null

    var intervalId = setInterval(query_task, 5000);

    setTimeout(function () {
      if (success == null) {
        // execute only when task_id remain null for 7 minutes
        clearInterval(intervalId); // stop querying backend about task
        $('#staticBackdrop').modal('show'); // show error modal
      }
    }, 420000)

    // func to query backend on the task
    function query_task() {
      $.ajax({
        url: current_url + 'task/' + task_id,
        type: "GET",
        dataType: "json",
        success: (data) => {
          if (data['status'] == 'done') {
            clearInterval(intervalId); // stop querying backend about the task

            $('#spinner').fadeOut();
            $('#dlink').fadeIn(); // show download link
            $('#back-button').fadeIn();

            success = true;
          } else if (data['status'] == 'failed') {
            var modalBody = document.getElementById("errorMessage");
            modalBody.innerHTML = data['error'];

            clearInterval(intervalId); // stop querying backend about task
            $('#staticBackdrop').modal('show'); // show error modal

            success = true;
          }
        },
        error: (error) => {
          console.log(error);
        }
      });
    }
  })
</script>
{% endblock %}