
{% extends 'base.html' %}

{% block body_block %}

<div style="width:1500px; margin:0 auto; padding-top: 50px; padding-bottom: 50px;">
  <h2> Primer Designer</h2><br>
  <h3>  &nbsp&nbsp Enter regions  </h3>
  
  <form role="form"  id="panel_form" method="post" action={% url 'primers_index' %}>
  {% csrf_token %}
    <div class="col-lg-4">
      <div class="input-group">
        {{regions_form.regions}}
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn alert-success" type="submit">Design primers</button>
        </span>
      </div>
    </div>
</div>


</form>


{% endblock %}


{% block script %}

$(function() {

   // This is quite hacky, here I am using the template language to generate js,

  {% for field in regions_form %}

     // If a field have an error alert the user
     {% if field.errors %}

      console.log("error on:", '{{field.id_for_label}}');
      console.log("error on:", '{{field.errors|striptags}}');



      // change the colour of the input/select to red
      $("textarea#{{field.id_for_label}}").addClass('alert-danger');

      // Add a data-toogle parameter to the input/select field
      $("textarea#{{field.id_for_label}}").attr('data-toggle', 'tooltip');

      // Set title to the error message, striptags remove all html formatting
      $("textarea#{{field.id_for_label}}").attr('title', '{{field.errors|striptags}}');

  {% endif %}
{% endfor %}


 

})


{% endblock %}
