{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body_block %}


<body style="padding-top: 80px">

<h1>Primer Database</h1>

<div class = "alert alert-warning">
        <h3>
            This version is still under development. Please check that the data, coverages are correct.<br>
            If you have any suggestions/improvements/issues, email jethro.rainford@addenbrookes.nhs.uk
        </h3>
</div><br>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}}">
            <strong>{{ message }}</strong> 
        </div>
    {% endfor %}
{% endif %} 

<h3>Editing primer: {{primer.primer_name}}</h3></br>

<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
    <form action = "" method = "POST">
    {% csrf_token %}

    <table>
        <tr>
            <td>Primer name: </td>
            <td>{{ primer_form.name }}</td>
        </tr>
        <tr>
            <td>Gene name: </td>
            <td>{{ primer.gene }}</td>
        </tr>
        <tr>
            <td> Sequence:</td>
            <td>{{ primer.sequence }} </td>
        </tr>
        <tr>
            <td>Strand</td>
            <td>{{ primer.coordinates.strand }}</td>
        </tr>
        <tr>
            <td>GRCh37 coordinates:</td>
            <td>{{ primer.coordinates.start_coordinate_37 }}-{{ primer.coordinates.end_coordinate_37 }}</td>
        </tr>
        <tr>
            <td>GRCh38 coordinates:</td>
            <td>{{ primer.coordinates.start_coordinate_38 }}-{{ primer.coordinates.end_coordinate_38 }}</td>
        </tr>
        <tr>
            <td>Buffer: </td>
            <td>{{ primer_form.buffer }}</td>
        </tr>
        <tr>
            <td>PCR Program: </td>
            <td>{{ primer_form.pcr_program }}</td>
        </tr>
        <tr>
            <td>Arrival date:</td>
            <td>{{ arrival_date_form.arrival_date }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ status_form.status }}</td>
        </tr>
        <tr>
            <td>Storage location:</td>
            <td>{{ status_form.location }}</td>
        </tr>
        <tr>
            <td>SNP Check Date:</td>
            <td>{{ primer.snp_date }}</td>
        </tr>
        <tr>
            <td>SNP Info:</td>
            {% if snps %}
                <td>
                    <table border="1">
                        {% for snp in snps %}
                            <tr>
                                <td>{{ snp.0 }}</td>
                                <td><a href="https://gnomad.broadinstitute.org/variant/{{ snp.1 }}?{{ snp.2 }}" target="_blank">{{ snp.1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% else %}
                <td>No SNPs found</td>
            {% endif %}
        </tr>
        <tr>
            <td>Comments:</td>
            <td>{{ primer_form.comments }}</td>
        </tr>
        <tr>
            <td>Forename:</td>
            <td>{{ primer_form.forename }}</td>
        </tr>
        <tr>
            <td><p>Surname:</td>
            <td>{{ primer_form.surname }}</td>
        </tr>
    </table></br> 
    
    <!--update and delete buttons when editing a primer  -->
    {% if primer.snp_status == "2" %}
        <button
            type="submit"
            name = "check_snp_primer_button"
            value={{ primer.name }}
            class = "bt btn-primary"
            onclick="return confirm('Have you checked the primer?')"
        >SNP Check {{ primer1.name }}</button>
    {% endif %}

    <button
        type="submit"
        name = "update_date_button"
        value="update_date_used"
        class = "bt btn-primary"
    >Update date used</button>

    <br><br>

    <input
        type="submit"
        name="update_primer_button"
        value="Update primer"
        class = "bt btn-primary"
    ></input>&nbsp;&nbsp;

    </form>
    <br><br>

{% endblock %}
</body>
