{% extends 'base.html' %}
#{% load widget_tweaks %}

{% block body_block %}


<body style="padding-top: 80px">

<h1>Primer Database</h1>

<!-- success message for updated primer being saved  -->
{% if messages %} 
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <strong>{{ message }}</strong> 
    </div>
    {% endfor %} 
{% endif %} 

<h3>Editing primer: {{primer.primer_name}}</h3></br>

<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
<body>

    <form action = "" method = "POST">
    {% csrf_token %}

    <table>
        <tr>
            <td>Primer name: </td>
            <td>{{ primer_name_form.primer_name }}</td>
        </tr>
        <tr>
            <td> Sequence:</td>
            <td>{{ sequence_form.sequence }} </td>
        </tr>
        <tr>
            <td>GC %: </td>
            <td>{{ gcpercent_form.gc_percent }} </td>
        </tr>
        <tr>
            <td>Tm: </td>
            <td>{{ tm_form.tm }} </td>
        </tr>
        <tr>
            <td>Length: </td>
            <td>{{ length_form.length }} </td>
        </tr>
        <tr>
            <td>Buffer: </td>
            <td>{{ buffer_form.buffer }}</td>
        </tr>
        <tr>
            <td>PCR Program: </td>
            <td>{{ pcr_form.pcr_program }}</td>
        </tr>
        <tr>
            <td>Arrival date:</td>
            <td>{{ arrival_date_form.arrival_date }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ status_form.status }}</td>
        </tr>
        <tr>
            <td>Storage location:</td>
            <td>{{ status_form.location}}</td>
            <td>
            {% if status_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong >{{ status_form.non_field_errors.0 }}</strong>
                </div>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td>{{ comments_form.comments }}</td>
        </tr>
        <tr>
            <td>Forename:</td>
            <td>{{ forename_form.forename }}</td>
        </tr>
        <tr>
            <td><p>Surname:</td>
            <td>{{ surname_form.surname }}</td>
        </tr>
        <tr>
            <td>Chromosome no.:</td>
            <td>{{ chrom_no_form.chrom_no }}</td>
        </tr>
        <tr>
            <td>GRCh37 Start coordinate:</td>
            <td>{{ start_coordinate_37_form.start_coordinate_37 }}</td>
        </tr>
        <tr>
            <td>GRCh37 End coordinate:</td>
            <td>{{ end_coordinate_37_form.end_coordinate_37 }}</td>
        </tr>
        <tr>
            <td>GRCh38 Start coordinate:</td>
            <td>{{ start_coordinate_38_form.start_coordinate_38 }}</td>
        </tr>
        <tr>
            <td>GRCh38 End coordinate:</td>
            <td>{{ end_coordinate_38_form.end_coordinate_38 }}</td>
        </tr>
    </table></br> 
    <!--update and delete buttons when editing a primer  -->
    <input  type="submit" name="update_primer" value="Update primer" class = "bt btn-primary"></input>&nbsp;&nbsp;
    <input type="submit" name="delete_primer" value="Delete primer" class = "bt btn-danger" onclick="return confirm('Are you sure you want to delete the primer?')"></input>


    </form>


{% endblock %}
