{% extends 'base.html' %}
#{% load widget_tweaks %}


{% block body_block %}

<body style="padding-top: 80px">

<h1>Primer Database</h1>

<div class = "alert alert-warning">
    <h3>
        This version is still under development. Please check that the data, coverages are correct.<br>
        If you have any suggestions/improvements, email rainfoj@addenbrookes.nhs.uk
    </h3>
</div><br>
    
{% if messages %} 
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <strong>{{ message }}</strong> 
        </div>
    {% endfor %} 
{% endif %} 

<div class="row center-block">


<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
</html>

<form id = "forward" action = "" method = "POST">
    {% csrf_token %}

    <table>
        <tr>
            <td><h4>Editing primer: {{primer1.name}}</h4></td>
            <td></td>
            <td><h4>Editing primer: {{primer2.name}}</h4></td>
        </tr>
        <tr>
            <td>Primer name:</td>
            <td>{{ primer_form1.name }}</td>
            <td>Primer name:</td>
            <td>{{ primer_form2.name }}</td>
        </tr>
        <tr>
            <td>Gene name:</td>
            <td>{{ primer1.gene }}</td>
        </tr>
        <tr>
            <td> Sequence:</td>
            <td>{{ primer1.sequence }} </td>
            <td> Sequence:</td>
            <td>{{ primer2.sequence }} </td>
        </tr>
        <tr>
            <td>Strand:</td>
            <td>{{ primer1.coordinates.strand }} </td>
            <td>Strand:</td>
            <td>{{ primer2.coordinates.strand }}</td>
        </tr>
        <tr>
            <td>GRCh37 coordinates:</td>
            <td>{{ primer1.coordinates.start_coordinate_37 }}-{{ primer1.coordinates.end_coordinate_37 }} </td>
            <td>GRCh37 coordinates</td>
            <td>{{ primer2.coordinates.start_coordinate_37 }}-{{ primer2.coordinates.end_coordinate_37 }} </td>
        </tr>
        <tr>
            <td>GRCh38 coordinates:</td>
            <td>{{ primer1.coordinates.start_coordinate_38 }}-{{ primer1.coordinates.end_coordinate_38 }} </td>
            <td>GRCh38 coordinates</td>
            <td>{{ primer2.coordinates.start_coordinate_38 }}-{{ primer2.coordinates.end_coordinate_38 }} </td>
        </tr>
        <tr>
            <td>GRCh37 Coverage:</td>
            <td>{{ primer1.pairs.coverage_37 }}</td>
        </tr>
        <tr>
            <td>GRCh38 Coverage:</td>
            <td>{{ primer1.pairs.coverage_38 }}</td>
        </tr>      
        <tr>
            <td>GC %:</td>
            <td>{{ primer1.gc_percent }} </td>
            <td>GC %:</td>
            <td>{{ primer2.gc_percent }} </td>
        </tr>
        <tr>
            <td>Tm (°C):</td>
            <td>{{ primer1.tm }} </td>
            <td>Tm (°C):</td>
            <td>{{ primer2.tm }} </td>
        </tr>
        <tr>
            <td>Buffer:</td>
            <td>{{ primer_form1.buffer }}</td>
        </tr>
        <tr>
            <td>PCR Program:</td>
            <td>{{ primer_form1.pcr_program }}</td>
        </tr>
        <tr>
            <td>Arrival date:</td>
            <td>{{ arrival_date_form1.arrival_date }}</td>
            <td>Arrival date:</td>
            <td>{{ arrival_date_form2.arrival_date }}</td>    
        </tr>
        <tr>
            <td>Last date used:</td>
            <td>{{ primer1.last_date_used }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ status_loc_form1.status }}</td>
            <td>Status:</td>
            <td>{{ status_loc_form2.status }}</td>
        </tr>
        <tr>
            <td>Storage location:</td>
            <td>{{ status_loc_form1.location}}</td>
            <td>Storage location:</td>
            <td>{{ status_loc_form2.location }}</td>
        </tr>
        <tr>
            <td>SNP Check Date:</td>
            <td> {{ primer1.snp_date }} </td>
            <td>SNP Check Date:</td>
            <td> {{ primer2.snp_date }} </td>
        </tr>
        <tr>
            <td>SNP Check Info:</td>
            {% if snp1 %}
                <td>
                    <table border="1">
                        {% for snp in snp1 %}
                            <tr>
                                <td>{{ snp.0 }}</td>
                                <td><a href="https://gnomad.broadinstitute.org/variant/{{ snp.1 }}?{{ snp.2 }}" target="_blank">{{ snp.1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% else %}
                <td>No SNPs found</td>
            {% endif %}
            <td>SNP Check Info:</td>
            {% if snp2 %}
                <td>
                    <table border="1">
                        {% for snp in snp2 %}
                            <tr>
                                <td>{{ snp.0 }}</td>
                                <td><a href="https://gnomad.broadinstitute.org/variant/{{ snp.1 }}?{{ snp.2 }}" target="_blank">{{ snp.1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                {% else %}
                <td>No SNPs found</td>
            {% endif %}
        </tr>
        <tr>
            <td>Comments:</td>
            <td>{{ primer_form1.comments }}</td>
            <td>Comments:</td>
            <td>{{ primer_form2.comments }}</td>
        </tr>
        <tr>
            <td>Forename:</td>
            <td>{{ primer_form1.forename }}</td>
        </tr>
        <tr>
            <td><p>Surname:</td>
            <td>{{ primer_form1.surname }}</td>
        </tr>
    </table></br>       



    {% if primer1.snp_status == "2" %}
        <button
            type="submit"
            name = "check_snp_primer1_button"
            value={{ primer1.name }}
            class = "bt btn-primary"
            onclick="return confirm('Have you checked the primer?')"
        >SNP Check {{ primer1.name }}</button>
    {% endif %}

    {% if primer2.snp_status == "2" %}
        <button
            type="submit"
            name = "check_snp_primer2_button"
            value={{ primer2.name }}
            class = "bt btn-primary"
            onclick="return confirm('Have you checked the primer?')"
        >SNP Check {{ primer2.name }}</button>
    {% endif %}

    <button type="submit" name = "update_date_button" value="update_date_used" class = "bt btn-primary">Update date used</button>

    <br><br>

    <button type="submit" name = "update_primers_button" value="Update primers" class = "bt btn-primary">Update primers</button>

    <br><br>

    <button 
        type="submit" 
        name = "delete_primer1_button" 
        value={{ primer1.id }} 
        class="bt btn-danger" 
        onclick="return confirm('Do you want to delete {{ primer1.name }}?')"
    >Delete {{ primer1.name }}</button>

    <button 
        type="submit" 
        name = "delete_primer2_button"
        value={{ primer2.id }}
        class="bt btn-danger"
        onclick="return confirm('Do you want to delete {{ primer2.name }}?')"
    >Delete {{ primer2.name }}</button>

    <button
        type="submit"
        name = "delete_pair_button"
        value="delete_pair"
        class="bt btn-danger"
        onclick="return confirm('Do you want to delete this pair of primers?')"
    >Delete primer pair</button>
</form>
<br>
</body>

{% endblock %}



