{% extends 'base.html' %}
#{% load widget_tweaks %}


{% block body_block %}

<body style="padding-top: 80px">

    <h1>Primer Database</h1>
    
    <!-- success message for updated primer being saved  -->
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                    <strong>{{ message }}</strong> 
            {% endfor %} 
        </div>
    {% endif %} 

<div class="row center-block">


<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
</html>

<body>

        <form id = "forward" action = "" method = "POST">
        {% csrf_token %}

        <table>
            <tr>
                <td><h4>Editing primer: {{primer1.name}}</h4></td>
                <td></td>
                <td><h4>Editing primer: {{primer2.name}}</h4></td>
            </tr>
            <tr>
                <td>Primer name:</td>
                <td>{{ primer_form1.name }}</td>
                <td>Primer name:</td>
                <td>{{ primer_form2.name }}</td>
            </tr>
            <tr>
                <td>Gene name:</td>
                <td>{{ primer_form1.gene }}</td>
            </tr>
            <tr>
                <td> Sequence:</td>
                <td>{{ sequence_form1.sequence }} </td>
                <td> Sequence:</td>
                <td>{{ sequence_form2.sequence }} </td>
            </tr>
            <tr>
                <td>GC %:</td>
                <td>{{ primer1.gc_percent }} </td>
                <td>GC %:</td>
                <td>{{ primer2.gc_percent }} </td>
            </tr>
            <tr>
                <td>Tm (°C):</td>
                <td>{{ primer1.tm }} </td>
                <td>Tm (°C):</td>
                <td>{{ primer2.tm }} </td>
            </tr>
            <tr>
                <td>Buffer:</td>
                <td>{{ primer_form1.buffer }}</td>
            </tr>
            <tr>
                <td>PCR Program:</td>
                <td>{{ primer_form1.pcr_program }}</td>
            </tr>
            <tr>
                <td>Arrival date:</td>
                <td>{{ arrival_date_form1.arrival_date }}</td>
                <td>Arrival date:</td>
                <td>{{ arrival_date_form2.arrival_date }}</td>    
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ status_loc_form1.status }}</td>
                <td>Status:</td>
                <td>{{ status_loc_form2.status }}</td>
            </tr>
            <tr>
                <td>Storage location:</td>
                <td>{{ status_loc_form1.location}}</td>
                <td>Storage location:</td>
                <td>{{ status_loc_form2.location }}</td>
            </tr>
            <tr>
                <td>SNP Check Date:</td>
                <td> {{ primer1.snp_date }} </td>
                <td>SNP Check Date:</td>
                <td> {{ primer2.snp_date }} </td>
            </tr>
            {% if primer1.snp_info %}
                <tr>
                    <td>SNP Check Info:</td>
                    <td>
                        <table border="1">
                            {% for snp in primer1.snps_as_list %}
                                {% if snp %}
                                    <tr>
                                        <td>{{ snp }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                    <td>SNP Check Info:</td>
                    <td>
                        <table border="1">
                            {% for snp in primer2.snps_as_list %}
                                {% if snp %}
                                    <tr>
                                        <td>{{ snp }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Comments:</td>
                <td>{{ primer_form1.comments }}</td>
                <td>Comments:</td>
                <td>{{ primer_form2.comments }}</td>
            </tr>
            <tr>
                <td>Forename:</td>
                <td>{{ primer_form1.forename }}</td>
            </tr>
            <tr>
                <td><p>Surname:</td>
                <td>{{ primer_form1.surname }}</td>
            </tr>
            <tr>
                <td>GRCh37 Coverage:</td>
                <td>{{ primer1.pairs.coverage_37 }}</td>
            </tr>
            <tr>
                <td>GRCh38 Coverage:</td>
                <td>{{ primer1.pairs.coverage_38 }}</td>
            </tr>
        </table></br>       



        {% if primer1.snp_status == "2" %}
            <button  type="submit" name = "check_snp_primer1" value={{ primer1.name }} class = "bt btn-primary" onclick="return confirm('Have you checked the primer?')">SNP Check {{ primer1.name }}</button>
        {% endif %}
        {% if primer2.snp_status == "2" %}
            <button  type="submit" name = "check_snp_primer2" value={{ primer2.name }} class = "bt btn-primary" onclick="return confirm('Have you checked the primer?')">SNP Check {{ primer2.name }}</button>
        {% endif %}

        <button  type="submit" name = "update_date" value="update_date_used" class = "bt btn-primary">Update date used</button>

        <br><br>

        <button  type="submit" name = "update_primers" value="Update primers" class = "bt btn-primary">Update primers</button>
        <a href="/primer_db/"><button type="button" class = "bt btn-primary">Return to primers</button></a></br></br>
    </form>
</body>

{% endblock %}



