
{% extends 'base.html' %}
#{% load widget_tweaks %}



{% block body_block %}


<h1>Primer Database</h1>



<div class="row center-block">

<h4>Submit new primers:</h4>

</div>
  <form action = "" method = "POST">
    {% csrf_token %}
    {{ arrival_date_form.arrival_date }}</br></br>
    {{ primer_name_form.primer_name }}
    {{ sequence_form.sequence }}
    {{ gcpercent_form.gcpercent }}</br></br>
    {{ tm_form.tm }}
    {{ length_form.length }}
    {{ comments_form.comments }}</br></br>
    {{ buffer_form.buffer }} 
    {{ pcr_form.pcr_program }}
    {{ forename_form.forename }}</br></br>
    {{ surname_form.surname }}
    {{ reference_form.reference }}
    {{ chrom_no_form.chrom_no }}</br></br>
    {{ start_coordinate_form.start_coordinate }}
    {{ end_coordinate_form.end_coordinate }}
    {{ status_form.status }}</br></br>

    
    <button name="add" type="submit">Submit primers</button>
  </form>
</div>


{% endblock %}



