{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block body_block %}

<body style="padding-top: 80px">

{% if messages %} 
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <strong>{{ message }}</strong> 
    </div>
    {% endfor %} 
{% endif %} 

<h1>Primer Database</h1></br>




<div class="row center-block">

<a href="/primer_db/submit"><button type="button" class = "bt btn-primary">Submit new primers</button></a></br></br>



<form type="get" action="" style="padding-top:5px;">
    <input type="text" name="var_pos" placeholder="Search variant position:">
    <button id="search_submit" type="submit">Submit</button>
</form>


<form type="get" action="" style="padding-top:10px;">
    <input type="text" name="name_filter" placeholder="Search primer name:">
    <button id="search_submit" type="submit">Submit</button>
</form></br>



<html>
  <head>
    <title>All primers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <head>
  <body>
    
    {% render_table table %}
    
  <body>
<html>

</br>


<a href="/primer_db/"><button type="button" class = "bt btn-primary">View all</button></a></br></br>

Total primers in bank: {{ total_bank }}</br>
Total primers on order: {{ total_order }}</br>
Total primers in archived: {{ total_archived }}





<!-- 
<button type="button" class="btn btn-primary" href="/primer_db/search">View all</button>


<h4>Search for existing primers: <a  href="/primer_db/search"><button>Search for primers</button></a></br></br> -->



<!-- 
{% for primer in primers %}
  {{ primers }}
{% endfor %}
{% endblock %}
 -->


<!--  -->


<!-- 
  <form action = "." method = "GET">
        {% csrf_token %}
        {{ primer_form.primer}}</br></br>
    
    <button name="search" type="submit">Search Primers</button>
    <input type="text" name="q">
  </form>


</div> -->


































<!-- 
     <button name="search" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" type="text" placeholder="Search by primer name"> -->








<!-- 


  <form action = " " method="POST" >
  	    {% csrf_token %}
  	    <table border=0 cellpadding="2" cellspacing="2" class="table table-condensed">

  	    <tr>
  	    	<th>
  	   			Search: {{ search_primer.primer }}

  	   		</th>
		</tr>


		</table>	

      	<button  type="submit">Search</button>
      	
  </form>


</div>
 -->