{% extends 'base.html' %}
#{% load widget_tweaks %}


{% block body_block %}


<!-- success message when primer is saved -->
{% if messages %} 
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ message }}</strong> 
            </div>
        {% endif %}

        {% if 'success' in message.tags %}
        <div class="alert alert-success" role="alert">
            <strong>{{ message }}</strong> 
        </div>
        {% endif %}
    {% endfor %} 
{% endif %} 

<body style="padding-top: 80px">

<h1>Primer Database</h1>

<h3>Submit new primers:</h3>


<!-- submit form for new primers -->
<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
</html>

<body>

<form id = "forward" action = "" method = "POST">
        {% csrf_token %}

        <table>
        <tr>
            <td><h4>Enter forward primer:</h4></td>
            <td></td>
            <td></td>
            <td><h4>Enter reverse primer:</h4></td>
        </tr>
            <tr>
                <td>Primer name: </td>
                <td>{{ primer_form1.name }}</td>
                <td></td>
                <td>Primer name: </td>
                <td>{{ primer_form2.name }}</td>
            </tr>
            <tr>
                <td>Gene name: </td>
                <td>{{ primer_form1.gene }}</td>
                <td></td>
            </tr>
            <tr>
                <td> Sequence:</td>
                <td>{{ sequence_form1.sequence }} </td>
                <td></td>
                <td> Sequence:</td>
                <td>{{ sequence_form2.sequence }} </td>
            </tr>
            <tr>
                <td>Buffer: </td>
                <td>{{ primer_form1.buffer }}</td>
                <td></td>
                <td>Buffer: </td>
                <td>{{ primer_form2.buffer }}</td>
            </tr>
            <tr>
                <td>PCR Program: </td>
                <td>{{ primer_form1.pcr_program }}</td>
                <td></td>
                <td>PCR Program: </td>
                <td>{{ primer_form2.pcr_program }}</td>
            </tr>
            <tr>
                <td>Arrival date:</td>
                <td>{{ arrival_date_form1.arrival_date }}</td>
                <td></td>
                <td>Arrival date:</td>
                <td>{{ arrival_date_form2.arrival_date }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ status_form1.status }}</td>
                <td></td>
                <td>Status:</td>
                <td>{{ status_form2.status }}</td>
            </tr>
            <tr>
                <td>Storage location:</td>
                <td>{{ status_form1.location}}</td>
                <td>
                {% if status_form1.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ status_form1.non_field_errors.0 }}</> 
                    </div>
                {% endif %}
                </td>
                <td>Storage location:</td>
                <td>{{ status_form2.location}}</td>
                <td>
                {% if status_form2.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ status_form2.non_field_errors.0 }}</> 
                    </div>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>{{ primer_form1.comments }}</td>
                <td></td>
                <td>Comments:</td>
                <td>{{ primer_form2.comments }}</td>
            </tr>
            <tr>
                <td>Forename:</td>
                <td>{{ primer_form1.forename }}</td>
            </tr>
            <tr>
                <td><p>Surname:</td>
                <td>{{ primer_form1.surname }}</td>
            </tr>
        </table>
        </br> 
    <button  type="submit" name = "submit" class = "bt btn-primary">Submit primers</button>
    <a href="/primer_db/"><button type="button" class = "bt btn-primary">Return to primers</button></a></br></br>
</form>

</body>

{% endblock %}



