
{% extends 'base.html' %}
#{% load widget_tweaks %}



{% block body_block %}

{% if messages %} 
    {% for message in messages %} 
        {{ message }} 
    {% endfor %} 
{% endif %} 

<body style="padding-top: 80px">

<h1>Primer Database</h1>



<div class="row center-block">


<h4>Submit new primers:</h4>

<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
<body>

    <form action = "" method = "POST">
    {% csrf_token %}

    <table>
        <tr>
            <td>Primer name: </td>
            <td>{{ primer_name_form.primer_name }}</td>
        </tr>
        <tr>
            <td> Sequence:</td>
            <td>{{ sequence_form.sequence }} </td>
        </tr>
        <tr>
            <td>GC %: </td>
            <td>{{ gcpercent_form.gc_percent }} </td>
        </tr>
        <tr>
            <td>Tm: </td>
            <td>{{ tm_form.tm }} </td>
        </tr>
        <tr>
            <td>Length: </td>
            <td>{{ length_form.length }} </td>
        </tr>
        <tr>
            <td>Buffer: </td>
            <td>{{ buffer_form.buffer }}</td>
        </tr>
        <tr>
            <td>PCR Program: </td>
            <td>{{ pcr_form.pcr_program }}</td>
        </tr>
        <tr>
            <td>Arrival date:</td>
            <td>{{ arrival_date_form.arrival_date }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ status_form.status }}</td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td>{{ comments_form.comments }}</td>
        </tr>
        <tr>
            <td>Forename:</td>
            <td>{{ forename_form.forename }}</td>
        </tr>
        <tr>
            <td><p>Surname:</td>
            <td>{{ surname_form.surname }}</td>
        </tr>
        <tr>
            <td>Chromosome no.:</td>
            <td>{{ chrom_no_form.chrom_no }}</td>
        </tr>
        <tr>
            <td>Reference build:</td>
            <td>{{ reference_form.reference }}</td>
        </tr>
        <tr>
            <td>Start coordinate:</td>
            <td>{{ start_coordinate_37_form.start_coordinate_37 }}</td>
        </tr>
        <tr>
            <td>End coordinate:</td>
            <td>{{ end_coordinate_37_form.end_coordinate_37 }}</td>
        </tr>
    </table></br>       
    <button name="add" type="submit" type="button" class = "bt btn-primary">Submit primer</button>

    </form>

<!-- 
</div>
  <form action = "" method = "POST">
    {% csrf_token %}
    {{ arrival_date_form.arrival_date }}</br></br>
    {{ primer_name_form.primer_name }}
    {{ sequence_form.sequence }}
    {{ gc_percent_form.gcpercent }}</br></br>
    {{ tm_form.tm }}
    {{ length_form.length }}
    {{ buffer_form.buffer }}</br></br> 
    {{ pcr_form.pcr_program }}
    {{ status_form.status }}
    {{ comments_form.comments }}</br></br>
    {{ forename_form.forename }}
    {{ surname_form.surname }}
    {{ chrom_no_form.chrom_no }}</br></br>
    {{ reference_form.reference }}
    {{ start_coordinate_37_form.start_coordinate_37 }}
    {{ end_coordinate_37_form.end_coordinate_37 }}</br></br>
    


    <button name="add" type="submit">Submit primers</button>
  </form></br></br>


<h4>Search for existing primers:</h4><a href="/primer_db/"><button type="button" class = "bt btn-primary">Search for primers</button></a>

</div>
 -->


<!-- 
<form method="post">

  {% csrf_token %}

  <table>
    {{ form }}
  </table>

</form>


</body> -->


{% endblock %}



