{% extends 'base.html' %}
#{% load widget_tweaks %}


{% block body_block %}


<!-- success message when primer is saved -->
{% if messages %} 
    {% for message in messages %}

        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ message }}</strong> 
            </div>
        {% endif %}

        {% if 'success' in message.tags %}
        <div class="alert alert-success" role="alert">
            <strong>{{ message }}</strong> 
        </div>
        {% endif %}


    {% endfor %} 
{% endif %} 

<body style="padding-top: 80px; padding-left: 80px">


<h1>Primer Database</h1>



<div class="row center-block">


<h4>Submit new primer:</h4>


<!-- submit form for new primers -->
<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
<body>

    <form action = "" method = "POST" name = "primer_form">
            
            {% csrf_token %}
 

                <table>
                    <tr>
                        <td>Primer name: </td>
                        <td>{{ primer_form.name }}</td>
                    </tr>
                    <tr>
                        <td>Gene name: </td>
                        <td>{{ primer_form.gene }}</td>
                    </tr>
                    <tr>
                        <td> Sequence:</td>
                        <td>{{ sequence_form.sequence }} </td>
                    </tr>
                    <tr>
                        <td>Buffer: </td>
                        <td>{{ primer_form.buffer }}</td>
                    </tr>
                    <tr>
                        <td>PCR Program: </td>
                        <td>{{ primer_form.pcr_program }}</td>
                    </tr>
                    <tr>
                        <td>Arrival date:</td>
                        <td>{{ arrival_date_form.arrival_date }}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>{{ status_form.status }}</td>
                    </tr>
                    <tr>
                        <td>Storage location:</td>
                        <td>{{ status_form.location}}</td>
                        <td>
                        {% if status_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ status_form.non_field_errors.0 }}</> 
                            </div>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Comments:</td>
                        <td>{{ primer_form.comments }}</td>
                    </tr>
                    <tr>
                        <td>Forename:</td>
                        <td>{{ primer_form.forename }}</td>
                    </tr>
                    <tr>
                        <td><p>Surname:</td>
                        <td>{{ primer_form.surname }}</td>
                    </tr>
                </table></br>       
                <button  type="submit" name = "submit" class = "bt btn-primary">Submit primer</button>
                <a href="/primer_db/"><button type="button" class = "bt btn-primary">Return to primers</button></a></br></br>


    </form>




{% endblock %}



