{% extends 'base.html' %}
#{% load widget_tweaks %}


{% block body_block %}


<!-- success message when primer is saved -->
{% if messages %} 
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <strong>{{ message }}</strong> 
    </div>
    {% endfor %} 
{% endif %} 

<body style="padding-top: 80px">

<h1>Primer Database</h1>



<div class="row center-block">


<h3>Submit new primers:</h3>


<!-- submit form for new primers -->
<html>
<head>
<style>

table, td, th {
    padding: 10px;
  text-align: left;
}

</style>
</head>
</html>

<body>


    <div style="float:left; width=50%">

        <h4>Enter forward primer:</h4>

        <form id = "forward" action = "" method = "POST">
        {% csrf_token %}

        <table>
            <tr>
                <td>Primer name: </td>
                <td>{{ primer_form1.primer_name }}</td>
            </tr>
            <tr>
                <td>Gene name: </td>
                <td>{{ primer_form1.gene }}</td>
            </tr>
            <tr>
                <td> Sequence:</td>
                <td>{{ sequence_form1.sequence }} </td>
            </tr>
           <!--  <tr>
                <td>GC %: </td>
                <td>{{ primer_form1.gc_percent }} </td>
            </tr>
            <tr>
                <td>Tm: </td>
                <td>{{ primer_form1.tm }} </td>
            </tr> -->
            <!-- <tr>
                <td>Length: </td>
                <td>{{ primer_form1.length }} </td>
            </tr> -->
            <tr>
                <td>Buffer: </td>
                <td>{{ primer_form1.buffer }}</td>
            </tr>
            <tr>
                <td>PCR Program: </td>
                <td>{{ primer_form1.pcr_program }}</td>
            </tr>
            <tr>
                <td>Arrival date:</td>
                <td>{{ arrival_date_form1.arrival_date }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ status_form1.status }}</td>
            </tr>
            <tr>
                <td>Storage location:</td>
                <td>{{ status_form1.location}}</td>
                <td>
                {% if status_form1.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ status_form1.non_field_errors.0 }}</> 
                    </div>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>{{ primer_form1.comments }}</td>
            </tr>
            <tr>
                <td>Forename:</td>
                <td>{{ primer_form1.forename }}</td>
            </tr>
            <tr>
                <td><p>Surname:</td>
                <td>{{ primer_form1.surname }}</td>
            </tr>
            <!-- <tr>
                <td>Chromosome no.:</td>
                <td>{{ chrom_no_form1.chrom_no }}</td>
            </tr>
            <tr>
                <td>Reference build:</td>
                <td>{{ reference_form1.reference }}</td>
            </tr>
            <tr>
                <td>Start coordinate:</td>
                <td>{{ submit_coordinate_form1.start_coordinate }}</td>
            </tr>
            <tr>
                <td>End coordinate:</td>
                <td>{{ submit_coordinate_form1.end_coordinate }}</td>
            </tr> -->
        </table></br>       
        <button  type="submit" name = "submit" class = "bt btn-primary">Submit primer</button>
        <a href="/primer_db/"><button type="button" class = "bt btn-primary">Return to primers</button></a></br></br>

    </div>


    <div style="float:right, width:50%">

        <h4>Enter reverse primer:</h4>

            <table>
                <tr>
                    <td>Primer name: </td>
                    <td>{{ primer_form2.primer_name }}</td>
                </tr>
                <tr>
                    <td>Gene name: </td>
                    <td>{{ primer_form2.gene }}</td>
                </tr>
                <tr>
                    <td> Sequence:</td>
                    <td>{{ sequence_form2.sequence }} </td>
                </tr>
                <!-- <tr>
                    <td>GC %: </td>
                    <td>{{ primer_form2.gc_percent }} </td>
                </tr>
                <tr>
                    <td>Tm: </td>
                    <td>{{ primer_form2.tm }} </td>
                </tr> -->
             <!--    <tr>
                    <td>Length: </td>
                    <td>{{ primer_form2.length }} </td>
                </tr> -->
                <tr>
                    <td>Buffer: </td>
                    <td>{{ primer_form2.buffer }}</td>
                </tr>
                <tr>
                    <td>PCR Program: </td>
                    <td>{{ primer_form2.pcr_program }}</td>
                </tr>
                <tr>
                    <td>Arrival date:</td>
                    <td>{{ arrival_date_form2.arrival_date }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ status_form2.status }}</td>
                </tr>
                <tr>
                    <td>Storage location:</td>
                    <td>{{ status_form2.location}}</td>
                    <td>
                    {% if status_form2.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ status_form2.non_field_errors.0 }}</> 
                        </div>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Comments:</td>
                    <td>{{ primer_form2.comments }}</td>
                </tr>
                <!-- <tr>
                    <td>Forename:</td>
                    <td>{{ primer_form2.forename }}</td>
                </tr>
                <tr>
                    <td><p>Surname:</td>
                    <td>{{ primer_form2.surname }}</td>
                </tr> -->
               <!--  <tr>
                    <td>Chromosome no.:</td>
                    <td>{{ chrom_no_form2.chrom_no }}</td>
                </tr>
                <tr>
                    <td>Reference build:</td>
                    <td>{{ reference_form2.reference }}</td>
                </tr>
                <tr>
                    <td>Start coordinate:</td>
                    <td>{{ submit_coordinate_form2.start_coordinate }}</td>
                </tr>
                <tr>
                    <td>End coordinate:</td>
                    <td>{{ submit_coordinate_form2.end_coordinate }}</td>
                </tr> -->
            </table></br>       

            </form>

    </div>

</body>

{% endblock %}



